<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Data</Data></Cell>
        <Cell><Data ss:Type="String">Hora</Data></Cell>
        <Cell><Data ss:Type="String">Tempo Fila</Data></Cell>
        <Cell><Data ss:Type="String">Tempo Agente</Data></Cell>
        <Cell><Data ss:Type="String">Faixa de Horário</Data></Cell>
        <Cell><Data ss:Type="String">Fila Chamada</Data></Cell>
        <Cell><Data ss:Type="String">Agente</Data></Cell>
        <Cell><Data ss:Type="String">Evento</Data></Cell>
        <Cell><Data ss:Type="String">Origem</Data></Cell>
        <Cell><Data ss:Type="String">Solução</Data></Cell>
        <Cell><Data ss:Type="String">Nota</Data></Cell>
      </Row>
    <% @queue_logs.group_by(&:callid).each do |callid, records| %>
      <Row>
        <Cell><Data ss:Type="String"><%= callid %></Data></Cell>
        <Cell><Data ss:Type="String"><%#= queue.time.to_datetime.strftime("%d-%m-%Y" ) %></Data></Cell>
        <Cell><Data ss:Type="String"><%#= queue.time.to_datetime.strftime("%H:%M" ) %></Data></Cell>
        <Cell><Data ss:Type="String"><%#= Time.at(queue.tempofila.to_i).utc.strftime("%H:%M:%S") %></Data></Cell>
        <Cell><Data ss:Type="String"><%#= Time.at(queue.tempoagente.to_i).utc.strftime("%H:%M:%S") %></Data></Cell>
        <Cell><Data ss:Type="String"><%#= CodigosHelper.range_hour(queue.time.to_datetime.strftime("%H")) %></Data></Cell>
        <Cell><Data ss:Type="String"><%#= CodigosHelper.queue_name(queue.queuename) %></Data></Cell>
        <Cell><Data ss:Type="String"><%#= CodigosHelper.agent_name(queue.agent) %></Data></Cell>
        <Cell><Data ss:Type="String"><%#= queue.status(queue.event) %></Data></Cell>
        <Cell><Data ss:Type="String"><%#= queue.origem %></Data></Cell>
        <Cell><Data ss:Type="String"><%#= queue.solucao %></Data></Cell>
        <Cell><Data ss:Type="String"><%#= queue.nota %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
