<ul class="side-nav" id="side-nav">
  <li <%= 'Home' %>>
    <%= link_to "Home", root_path%> 
  </li>

  <li <%= 'Queue Reports' %>>
    <%= link_to "Queue Reports", queue_logs_index_path %>
  </li>
</ul>
